@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.ttf");
}

* {
    font-family: Roboto;
    font-weight: bold;
}

body {
    margin:0;
    padding:0;
}

.body {
    margin-top:100px;
    display:flex;
    flex-direction: column;
    align-items: center;
    border:20px solid gray;
    border-radius:10px;
    width:500px;
    height:800px;
    margin-left:auto;
    margin-right:auto;
    background-color: lightgray;
}

.display-area {
    height: 100px;
    padding:20px;
    background-color: rgb(173, 173, 173);
    width:460px;
    border:5px solid black;
    display:flex;
    flex-direction: column;
    text-align: right;
    font-family: 'Galaxus';
    font-size:56px;
    letter-spacing: 3px;
}

.display {
    height:50px;
    padding:0;
    margin:0;
}

.lesser-display {
    height:20px;
    padding:0;
    margin:0;
    font-size:28px;
}

.buttons {
    display:flex;
    flex-wrap: wrap;
    padding:20px;
    height:100%;
    width:460px;
    background-color: azure;
    justify-content: space-around;
    gap:10px;
    border:5px solid black;
    border-top:none;
}

.button {
    height:107px;
    width:107px;
    font-size:30px;
    border:none;
    cursor:pointer;
    text-align:center;
    border:1px solid black;
}

.button:disabled {
    cursor:auto;
}

.button:disabled:hover {
    border:1px solid black;
}

.button:hover {
    border:3px solid black;
}

.button:active {
    border:5px solid black;
}

.oper-sign, .toggle, .equal {
    background-color: rgb(161, 161, 161);
}

.digit { background: transparent;
}

.clears {
    background-color: red;
    color:white;
}